.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 16px 0px; 
  grid-template-areas: 
    "."
    "."
    ".";
  justify-content: center;
  padding-bottom : 4rem;
}

.footer {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px 0px;
  height: 3.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  z-index: 99;
  text-align: center;
}