
.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: 1fr 1fr 1fr;  */
  gap: 16px 0px; 
  justify-content: center;
  padding-top: 4.3rem;
  padding-bottom: 4rem;
  max-width: 720px;
  margin: 0 auto;
}

@media (max-width: 426px) {
  .main {
    grid-template-columns: repeat(3, 1fr);
  }
}